/WebApplication/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/WebApplication/bin/Debug/netcoreapp3.1/appsettings.Development.json
/WebApplication/appsettings.Development.json
/WebApplication/bin/Debug/netcoreapp3.1/appsettings.json
/WebApplication/appsettings.json
/.idea/.idea.WebApplication/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.WebApplication/.idea/contentModel.xml
/.idea/.idea.WebApplication/.idea/encodings.xml
/.idea/.idea.WebApplication/.idea/indexLayout.xml
/WebApplication/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/WebApplication/Properties/launchSettings.json
/.idea/.idea.WebApplication/.idea/modules.xml
/WebApplication/Program.cs
/WebApplication/obj/project.assets.json
/WebApplication/obj/project.nuget.cache
/WebApplication/obj/project.packagespec.json
/.idea/.idea.WebApplication/.idea/projectSettingsUpdater.xml
/WebApplication/obj/rider.project.restore.info
/.idea/.idea.WebApplication/riderModule.iml
/WebApplication/Startup.cs
/.idea/.idea.WebApplication/.idea/vcs.xml
/WebApplication/WeatherForecast.cs
/WebApplication/Controllers/WeatherForecastController.cs
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.AssemblyInfo.cs
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.AssemblyInfoInputs.cache
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.assets.cache
/WebApplication/WebApplication.csproj
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.csproj.CoreCompileInputs.cache
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.csproj.FileListAbsolute.txt
/WebApplication/obj/WebApplication.csproj.nuget.dgspec.json
/WebApplication/obj/WebApplication.csproj.nuget.g.props
/WebApplication/obj/WebApplication.csproj.nuget.g.targets
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.csprojAssemblyReference.cache
/WebApplication/bin/Debug/netcoreapp3.1/WebApplication.deps.json
/WebApplication/bin/Debug/netcoreapp3.1/WebApplication.dll
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.dll
/WebApplication/bin/Debug/netcoreapp3.1/WebApplication.exe
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.exe
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.genruntimeconfig.cache
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.MvcApplicationPartsAssemblyInfo.cache
/WebApplication/bin/Debug/netcoreapp3.1/WebApplication.pdb
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.pdb
/WebApplication/obj/Debug/netcoreapp3.1/WebApplication.RazorTargetAssemblyInfo.cache
/WebApplication/bin/Debug/netcoreapp3.1/WebApplication.runtimeconfig.dev.json
/WebApplication/bin/Debug/netcoreapp3.1/WebApplication.runtimeconfig.json
/WebApplication.sln
/WebApplication/obj/Debug/netcoreapp3.1/staticwebassets/WebApplication.StaticWebAssets.Manifest.cache
/WebApplication/obj/Debug/netcoreapp3.1/staticwebassets/WebApplication.StaticWebAssets.xml
/.idea/.idea.WebApplication/.idea/workspace.xml
